.container-fluid {
    background-color: powderblue;
    width: 980px;
    height: 808px;

}

.primacasuta {
    height: 350px;
    width: 240px;
    background-color: darkgrey;

}
.adouacasuta {
    height: 100px;
    background-color: blue;
}
.nume {
    height: 100px;
    background-color: red;
    margin-left: 0.5px;
}

.col-4{
    background-color: coral;
}
.col-8{
    background-color: burlywood;
}
h1 {
    align-content: center;
}